.container{

	width: 100vw;
	height: 100vh;
	background-color: wheat;
}


model-viewer{
width: 43.75rem;
height: 43.75rem;
pointer-events: none;
display: block;
position: absolute;
contain: strict;
margin-left: 33rem;
top: 8rem;
            
}