@font-face {
    font-family: 'TERMINABOLD';
    src: url('../fonts/TerminaTest-Bold.woff') format('woff'),


}

@font-face {
    font-family: 'TERMINADEMI';
    src: url('../fonts/TerminaTest-Demi.woff') format('woff'),


}


@font-face {
    font-family: 'TERMINAMEDI';
    src: url('../fonts/TerminaTest-Medium.woff') format('woff'),


}



@font-face {
    font-family: 'TERMINA';
    src: url('../fonts/TerminaTest-Regular.woff') format('woff'),


}


@font-face {
    font-family: 'PROXIMAREG';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'),


}

@font-face {
    font-family: 'PROXIMASEMI';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff'),


}

@font-face {
    font-family: 'PROXIMALIGHT';
    src: url('../fonts/ProximaNova-Light.woff') format('woff'),


}


@font-face {
    font-family: 'POPPINSMEDI';
    src: url('../fonts/Poppins-Medium.woff') format('woff'),


}


@font-face {
    font-family: 'POPPINSREG';
    src: url('../fonts/Poppins-Regular.woff') format('woff'),


}


.container {
    width: 79.5rem;
    margin-left: auto;
    margin-right: auto;
}






.first{
    height: 61.688rem;

}

.headerText{
font-family: PROXIMASEMI;
font-size: 0.875rem;
color: #6B1134;
display: flex;
padding-top: 1.3rem;
align-items: center;


}





ul{
    display: flex;
    margin-left: auto;
    align-content: center;
    gap: 3.75rem;


    


}



.logo{
    background-image:url('../images/logo.png'); 
    background-repeat: no-repeat;
    background-size:contain;
     width: 3rem;
     height: 3rem;
     display: flex;
     

}

.header {
    
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    

}




.background{
    background-image:url('../images/track.jpg'); 
    width: 100%;
    height: 61.688rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #81D3F0;
    background-blend-mode: soft-light;
    display: block;
    position: absolute;
    z-index: -9;
}

.mainSection{
width: 79.5rem;
height: 53.563rem;

}


.textHolder{
    margin-right: auto;
    padding-top:3.125rem;
    display: flex;


}

h1{
    font-size: 6.25rem;
    font-family: TERMINABOLD;
    color: #6B1234;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-left: 1.5rem;

}




h2{
    font-size: 2rem;
    font-family: PROXIMASEMI;
    color: #6B1234;
    writing-mode: vertical-rl;
 transform: rotate(180deg);

}

.shapeOne{
    width: 25.5rem;
    aspect-ratio: 2.957;
    position: absolute;
    margin-left: 20.25rem;
    background-color:#81D3F0;
    mix-blend-mode: multiply;
    clip-path: shape(from 97.34% 50%,line to 70.26% 50%,curve to 68.39% 52.25% with 69.56% 50%/68.89% 50.81%,line to 52.65% 97.75%,curve to 50.77% 100% with 52.15% 99.19%/51.48% 100%,line to 19.34% 100%,curve to 17.52% 97.9% with 18.67% 100%/18.01% 99.25%,line to 0.83% 52.27%,curve to 0% 46.69% with 0.3% 50.82%/0% 48.81%,line to 0% 7.67%,curve to 2.65% 0% with 0% 3.44%/1.19% 0%,line to 14.64% 0%,curve to 17.29% 7.67% with 16.1% 0%/17.29% 3.44%,line to 17.29% 29.83%,curve to 19.95% 37.5% with 17.29% 34.06%/18.48% 37.5%,line to 50.25% 37.5%,curve to 52.9% 29.83% with 51.71% 37.5%/52.9% 34.06%,line to 52.9% 7.67%,curve to 55.55% 0% with 52.9% 3.44%/54.09% 0%,line to 85.36% 0%,curve to 87.23% 2.25% with 86.06% 0%/86.74% 0.81%,line to 99.22% 36.9%,curve to 97.34% 50% with 100.89% 41.74%/99.71% 50%,close);
}





.shapeTwo{
    height: 30.375rem;
    aspect-ratio: 0.613;
    position: absolute;
    margin-left: 27rem;
    background-color: #6B1234;
    mix-blend-mode: hard-light;
    clip-path: shape(from 75% 2.48%,line to 75% 28.18%,curve to 70.67% 30.65% with 75% 29.55%/73.06% 30.65%,line to 29.34% 30.65%,curve to 25% 33.13% with 26.94% 30.65%/25% 31.76%,line to 25% 54.66%,curve to 29.34% 57.14% with 25% 56.03%/26.94% 57.14%,line to 47.33% 57.14%,curve to 51.67% 59.62% with 49.73% 57.14%/51.67% 58.25%,line to 51.67% 84.04%,curve to 56.01% 86.51% with 51.67% 85.41%/53.61% 86.51%,line to 95.66% 86.51%,curve to 100% 88.99% with 98.06% 86.51%/100% 87.62%,line to 100% 97.52%,curve to 95.66% 100% with 100% 98.89%/98.06% 100%,line to 29.34% 100%,curve to 25% 97.52% with 26.94% 100%/25% 98.89%,line to 25% 73.91%,curve to 20.67% 71.43% with 25% 72.54%/23.06% 71.43%,line to 4.34% 71.43%,curve to 0% 68.95% with 1.94% 71.43%/0% 70.32%,line to 0% 29.6%,curve to 1.27% 27.85% with 0% 28.94%/0.46% 28.31%,line to 23.73% 15.01%,curve to 26.8% 14.29% with 24.54% 14.55%/25.65% 14.29%,line to 45.66% 14.29%,curve to 50% 11.81% with 48.06% 14.29%/50% 13.18%,line to 50% 2.48%,curve to 54.34% 0% with 50% 1.11%/51.94% 0%,line to 70.67% 0%,curve to 75% 2.48% with 73.06% 0%/75% 1.11%,close);
}


.shapeThree{
    width: 18.75rem;
    height: 33.75rem;
    background-color: #6B1234;
    mix-blend-mode: hard-light;
    position: relative;
    margin-left: auto;
    top: 6.8rem;
    aspect-ratio: 0.556;
    clip-path: shape(from 4.52% 70.37%,hline to 22.14%,curve to 26.67% 72.88% with 24.64% 70.37%/26.67% 71.5%,line to 26.67% 97.49%,curve to 31.19% 100% with 26.67% 98.87%/28.69% 100%,hline to 55.48%,curve to 60% 97.49% with 57.97% 100%/60% 98.87%,line to 60% 43.25%,curve to 64.52% 40.74% with 60% 41.87%/62.03% 40.74%,line to 95.48% 40.74%,curve to 100% 38.23% with 97.97% 40.74%/100% 39.62%,line to 100% 30.67%,curve to 98.67% 28.89% with 100% 30%/99.52% 29.37%,line to 47.99% 0.74%,curve to 44.79% 0% with 47.14% 0.27%/45.99% 0%,line to 24.52% 0%,curve to 20% 2.51% with 22.03% 0%/20% 1.13%,line to 20% 13.47%,curve to 22.01% 15.56% with 20% 14.31%/20.76% 15.09%,line to 47.57% 25.02%,curve to 45.06% 29.63% with 51.29% 26.4%/49.54% 29.63%,line to 24.53% 29.63%,curve to 20% 32.14% with 22.03% 29.63%/20% 30.75%,line to 20% 47.49%,curve to 15.48% 50% with 20% 48.87%/17.98% 50%,hline to 4.52%,curve to 0% 52.51% with 2.03% 50%/0% 51.12%,line to 0% 67.86%,curve to 4.52% 70.37% with 0% 69.24%/2.03% 70.37%,vline to 70.37%,close);
}



.shapeFour{
    width: 32.25rem;
    height: 25.25rem;
    background-color:#81D3F0;
    mix-blend-mode: multiply;
    position: absolute;
    aspect-ratio: 1.277;
    margin-left: 47.25rem;
    top: 28.8rem;
    clip-path: shape(from 3.02% 78.62%,line to 30.63% 78.62%,curve to 33.48% 74.98% with 32.2% 78.62%/33.48% 76.99%,line to 33.48% 25.35%,curve to 36.33% 21.71% with 33.48% 23.34%/34.76% 21.71%,line to 51% 21.71%,curve to 53.85% 18.07% with 52.57% 21.71%/53.85% 20.08%,line to 53.85% 3.64%,curve to 56.7% 0% with 53.85% 1.63%/55.13% 0%,line to 74.98% 0%,curve to 76.67% 3.64% with 76.55% 0%/76.67% 1.63%,line to 76.67% 37.81%,curve to 79.52% 41.45% with 76.67% 39.82%/77.95% 41.45%,line to 97.15% 41.45%,curve to 100% 45.08% with 98.72% 41.45%/100% 43.08%,line to 100% 53.6%,curve to 97.15% 57.24% with 100% 55.61%/98.72% 57.24%,line to 87.38% 57.24%,curve to 84.53% 60.88% with 85.81% 57.24%/84.53% 58.87%,line to 84.53% 74.98%,curve to 81.68% 78.62% with 84.53% 76.99%/83.25% 78.62%,line to 52.83% 78.62%,curve to 49.98% 82.26% with 51.26% 78.62%/49.98% 80.25%,line to 49.98% 96.36%,curve to 47.13% 100% with 49.98% 98.37%/48.7% 100%,line to 2.85% 100%,curve to 0% 96.31% with 1.26% 100%/-0.02% 98.34%,line to 0.17% 82.2%,curve to 3.02% 78.62% with 0.19% 80.21%/1.46% 78.62%,line to 3.02% 78.62%,close);

}

.shapeFive{
    aspect-ratio: 1.13;
    width: 25.5rem;
    background-color:#81D3F0;
    mix-blend-mode: multiply;
    position: absolute;
    margin-left: 6.75rem;
    top: 39.1rem;
    clip-path: shape(from 99.99% 91.24%,line to 99.99% 8.69%,curve to 94.59% 0% with 100.19% 3.86%/97.85% 0%,line to 72.33% 0%,curve to 66.43% 8.67% with 69.07% 0%/66.43% 3.88%,line to 66.43% 41.33%,curve to 60.52% 50% with 66.43% 46.12%/63.78% 50%,line to 34.79% 50%,curve to 30.62% 52.54% with 33.23% 50%/31.73% 50.92%,line to 0% 100%,line to 99.99% 100%,curve to 99.99% 91.24% with 99.99% 94.14%/99.99% 96.03%,close);
}




model-viewer{
width: 43.75rem;
height: 43.75rem;
pointer-events: none;
display: block;
position: absolute;
contain: strict;
margin-left: 33rem;
top: 8rem;
            
}

.second{
    height: 96.813rem;
     background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.backgroundSecond{
    background-image:url('../images/trail.jpg'); 
    height: 96.813rem;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6B1234;
    background-blend-mode: soft-light;
    display: block;
    position: absolute;
    z-index: -8;
}


.container2{
    width: 79.5rem;
    margin-left: auto;
    margin-right: auto;

}




.shapeHolder2{
    width: 79.5rem;
    display: flex;



}


.shapeSix{
    height: 69rem ;
    background-color: #81D3F0;
    position: absolute;
    mix-blend-mode: screen;


    aspect-ratio: 0.565;
    clip-path: shape(from 82.69% 8.32%,line to 82.69% 0%,line to 17.39% 0.08%,line to 1.4% 10.49%,curve to 0% 12.67% with 0.5% 11.07%/0% 11.85%,line to 0% 61.48%,curve to 4.78% 64.56% with 0% 63.18%/2.14% 64.56%,line to 22.78% 64.56%,curve to 27.56% 67.63% with 25.42% 64.56%/27.56% 65.93%,line to 27.56% 96.93%,curve to 32.34% 100% with 27.56% 98.62%/29.7% 100%,line to 95.22% 100%,curve to 100% 96.93% with 97.86% 100%/100% 98.62%,line to 100% 85.35%,curve to 95.22% 82.28% with 100% 83.65%/97.86% 82.28%,line to 52.7% 82.28%,curve to 47.92% 79.2% with 50.06% 82.28%/47.92% 80.9%,line to 47.92% 49.91%,curve to 43.14% 46.83% with 47.92% 48.21%/45.78% 46.83%,line to 35.55% 46.83%,curve to 30.77% 43.76% with 32.91% 46.83%/30.77% 45.46%,line to 30.77% 14.47%,curve to 35.55% 11.39% with 30.77% 12.77%/32.91% 11.39%,line to 77.91% 11.39%,curve to 82.69% 8.32% with 80.55% 11.39%/82.69% 10.02%,close);

}


.shapeSeven{
    width: 32.064rem;
    background-color: #81D3F0;
    position: absolute;
    mix-blend-mode: screen;
    margin-left: 47.25rem;
    aspect-ratio: 1.051;
    clip-path: shape(from 56.26% 91.03%,line to 56.26% 96.16%,curve to 52.61% 100% with 56.26% 98.28%/54.63% 100%,line to 32.29% 100%,curve to 28.65% 96.16% with 30.28% 100%/28.65% 98.28%,line to 28.65% 72.55%,curve to 25% 68.71% with 28.65% 70.43%/27.02% 68.71%,line to 3.64% 68.71%,curve to 0% 64.87% with 1.63% 68.71%/0% 66.99%,line to 0% 49.58%,curve to 3.64% 45.73% with 0% 47.45%/1.63% 45.73%,line to 58.63% 45.73%,curve to 62.27% 41.89% with 60.64% 45.73%/62.27% 44.01%,line to 62.27% 3.84%,curve to 65.92% 0% with 62.27% 1.72%/63.91% 0%,line to 81.05% 0%,curve to 84.69% 3.84% with 83.06% 0%/84.69% 1.72%,line to 84.69% 45.02%,curve to 85.76% 47.74% with 84.69% 46.04%/85.08% 47.01%,line to 98.92% 61.61%,curve to 96.35% 68.16% with 101.22% 64.03%/99.6% 68.16%,line to 87.72% 68.16%,curve to 84.07% 72% with 85.71% 68.16%/84.07% 69.88%,line to 84.07% 79.97%,curve to 80.43% 83.81% with 84.07% 82.09%/82.44% 83.81%,line to 60% 83.81%,curve to 56.36% 87.53% with 58.03% 83.81%/56.42% 85.46%,line to 56.26% 91.03%,close);
    margin-top: 23.188rem;
}


.shapeEight{
    height: 45.875rem;
    background-color: #6B1234;
    position: absolute;
    mix-blend-mode: screen;
    margin-top: 41.5rem;

    aspect-ratio: 1.733;
    clip-path: shape(from 0% 37.16%,line to 0% 54.52%,curve to 1.7% 58.34% with 0% 56.63%/0.76% 58.34%,line to 16.82% 58.34%,curve to 18.52% 62.16% with 17.76% 58.34%/18.52% 60.05%,line to 18.52% 96.18%,curve to 20.22% 100% with 18.52% 98.29%/19.28% 100%,line to 46.45% 100%,curve to 48.15% 96.18% with 47.39% 100%/48.15% 98.29%,line to 48.15% 70.49%,curve to 49.85% 66.67% with 48.15% 68.38%/48.91% 66.67%,line to 87.19% 66.67%,curve to 88.89% 62.85% with 88.13% 66.67%/88.89% 64.96%,line to 88.89% 37.15%,curve to 90.58% 33.33% with 88.89% 35.05%/89.65% 33.33%,line to 98.3% 33.33%,curve to 100% 29.51% with 99.24% 33.33%/100% 31.63%,line to 100% 3.82%,curve to 98.3% 0% with 100% 1.71%/99.24% 0%,line to 84.1% 0%,curve to 82.41% 3.82% with 83.17% 0%/82.41% 1.71%,line to 82.41% 29.51%,curve to 80.71% 33.33% with 82.41% 31.62%/81.65% 33.33%,line to 42.44% 33.33%,curve to 40.74% 37.15% with 41.5% 33.33%/40.74% 35.04%,line to 40.74% 71.18%,curve to 39.04% 75% with 40.74% 73.29%/39.98% 75%,line to 31.33% 75%,curve to 29.63% 71.18% with 30.39% 75%/29.63% 73.3%,line to 29.63% 37.16%,curve to 27.93% 33.34% with 29.63% 35.05%/28.87% 33.34%,line to 1.7% 33.34%,curve to 0% 37.16% with 0.76% 33.34%/0% 35.05%,line to 0% 37.16%,close);

}

.textHolder2{
    width: 79.5rem;
    height: 86.813rem;


}


.textBox1{
width: 25.5rem;
  height: 8.25rem;
  top: 9.563rem;
  position: relative;
  margin-left: 13.5rem;
}


.textBox2{

    width: 25.5rem;
    height: 8.25rem;
    top: 18.6rem;
    position: relative;
    margin-left: 40.5rem;

    
}

.textBox3{

    width: 30.6rem;
    height: 7.5rem;
    top: 30.2rem;
    position: relative;
    margin-left: 20.25rem;

    
}



h3{
    font-size: 2.438rem;
    color: #81D3F0;
    font-family: POPPINSMEDI;

}

p{
    font-size: 1.188rem;
    color: #81D3F0;
    font-family: PROXIMAREG;

}


#socket{
   width: 700px;
  height: 700px;
  pointer-events: none;
  display: block;
  position: absolute;
  contain: strict;
  margin-left: 43rem;
  padding-top: 87rem;
}
